pipeline/ADF-KV-Update.json
{
	"name": "ADF-KV-Update",
	"properties": {
		"activities": [
			{
				"name": "Get Secret From KeyVault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://adfkvahcsadev.vault.azure.net/secrets/ADFDemo?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Secret From KeyVault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "KeyVaultSecretDemo",
					"value": {
						"value": "@activity('Get Secret From KeyVault').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"KeyVaultSecretDemo": {
				"type": "String"
			}
		},
		"annotations": []
	}
}